body {
    margin: 0;
    padding: 0;
    background: #240b36;  /* fallback for old browsers */
    overflow: hidden;
}
/* css for search box */
/* https://www.youtube.com/watch?v=v1PeTDrw6OY&t=4s */
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
    width: 300px;

}
/* while hover on search box */
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;

}
.search-box:hover > .search-btn {
    background: white;
    color: black;
}
/* css for search button */
.search-btn {
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;    
}
/* size of search button image */
.search-btn > i {
    font-size: 15px;    
}
/* css for search txt */
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 20px;
}
/* css for title'wassup' */
.text{
    list-style: none;
    width: 377px;
    margin: auto auto auto auto; 
    padding: 0px;
    float: left;
}
.text li{
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 900;
    font-style:oblique;
    font-size: 45px;
    color: white;
    opacity: 1;
}
.text li:last-child{
    margin-right: 0;
}
/* while change window width, resize audio's size and position, song_name position, all imgs size and position*/
@media (max-width: 575.98px) {
    .search-box {
        width: 120px;
        left: 80%; 
    }
    .search-box:hover > .search-txt {
        width: 60px;
        padding: 0 6px;
    
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .search-box {
        width: 160px;
        left: 70%; 
    }
    .search-box:hover > .search-txt {
        width: 100px;
        padding: 0 6px;
    
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .search-box {
        width: 200px;
        left: 60%; 
    }
    .search-box:hover > .search-txt {
        width: 140px;
        padding: 0 6px;
    
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .search-box {
        width: 240px;
    }
    .search-box:hover > .search-txt {
        width: 180px;
        padding: 0 6px;
    
    }
}
@media (min-width: 1200px) {
    .search-box {
        width: 300px;
    
    }
    .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 6px;
    
    }
}  
