body{
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
}
div{
    position: absolute;
    overflow-x: hidden;
    border-left: 10px solid rgba(0, 0, 0, 0);
}
div:hover > .options{
    color: white;
    cursor: default;
}


.options{
    color: rgb(206, 206, 206);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.intro{
    color: white;
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: bolder;
    float: left;
}