div{
    overflow: hidden;
    background-color: #434343;
    border-left: 10px #434343 solid ;
}
div:hover > .options{
    color: white;
    cursor: default;
}

body{
    background-color: #434343;
    margin: 0px;
}
.options{
    color: rgb(146, 146, 146);
    font-family: 'Montserrat';
    font-size: 15px;
    float: left;
}
.intro{
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    float: left;
}