body{
    background-size: cover;
    margin: 0px;
  }
.song_name{
    overflow-y: hidden;
    margin: auto 2px;
    width: 300px;
    height: 88px;
    display: inline-block;
    font-size: 25px;
    padding: auto 2px;
    text-align: center;
    font-family: 'Montserrat','微軟正黑體';
}
.song_name p{
    margin: 0px;
}
input[type = "image"]{
    height: 40px;
    width: 40px;
}
audio{
    width: 300px;
}