body{
    overflow: hidden;
}
.song_name{
    display: inline-block;
    font-size: 25px;
    padding: auto 2px;
    text-align: center;
    font-family: 'Montserrat','微軟正黑體';
    margin: 0px

}
input[type = "image"]{
    height: 40px;
    width: 40px;
}
audio{
    width: 300px;
}