body {
    margin: 0;
    padding: 0;
    background: #e84118;
}
.song_div{
    overflow: hidden;
    background-color: DarkSlateGray;
    border: 2px solid white;
    margin: 2px 2px;
}
p{
    text-align: center;
    color: white;
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 30px;
    border-radius: 30px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 150px;
    padding: 0 6px;

}
.search-txt:focus{
    width: 150px
}
.search-box:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;    
}

.search-btn > i {
    font-size: 15px;    
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 20px;
}
.text{
list-style: none;

width: 377px;
/* position: absolute;
top: 8%;
left: 50%; */
margin: auto auto auto auto; 
padding: 0px;
float: left;
/* transform: translateX(-50%) translateY(-50%); */
}
.text li{
display: inline-block;
font-family: 'Montserrat';
font-weight: 900;
font-style:oblique;
font-size: 45px;
color: white;
opacity: 1;
/* transition: all 2.5s ease; */
}
.text li:last-child{
margin-right: 0;
}

  
