body{
  background-size: cover;
  background: red;
  margin: 0px;
}
.text-animation{
  list-style: none;

  width: 377px;
  position: absolute;
  top: 8%;
  left: 50%;
  /* margin: 40px auto 5px auto;  */
  padding: 0px;
  transform: translateX(-50%) translateY(-50%);
}
.text-animation li{
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 900;
  font-style:oblique;
  font-size: 5em;
  color: white;
  opacity: 1;
  transition: all 2.5s ease;
}
.text-animation li:last-child{
  margin-right: 0;
}
.text-animation.hidden{
  opacity: 0;
}

.text-animation.hidden li:nth-child(1){transform: translateY(-100px);}
.text-animation.hidden li:nth-child(2){transform: translateY(-150px);}
.text-animation.hidden li:nth-child(3){transform: translateY(-200px);}
.text-animation.hidden li:nth-child(4){transform: translateY(-250px);}
.text-animation.hidden li:nth-child(5){transform: translateY(-300px);}

.text-animation.hidden li:nth-child(6){transform: translateY(-350px);}
.text-animation.hidden li:nth-child(7){transform: translateY(-400px);}

.box{
  width: 350px;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* margin: 40px auto 10px auto; */
  padding: 30px;
  padding-bottom: 60px;
  border: 2px rgb(255, 255, 255) solid;
  border-radius: 30px;
  background: #ff0000;  /* fallback for old browsers */        
  overflow: hidden;
  text-align: center;
  z-index: 2;
}

.box input[type = "text"],.box input[type = "password"]{
  width: 60%;
  border:0;
  border: 2px solid rgb(255, 255, 255);
  background: none;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 10px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  transition: 0.25s;
  font-family: 'Montserrat';

}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 80%;
  border-color: rgb(255, 255, 255);
}
.box input[type = "submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-family: 'Montserrat';
}
.box input[type = "submit"]:hover{
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  color: black;
}
.box input[type = "button"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-family: 'Montserrat';
}
.box input[type = "button"]:hover{
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  color: black;
}

.box a:link{
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
}
.box a:visited {
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
  }

img:nth-child(1){position:absolute; top: 240px; left: 300px; z-index: 0;}
img:nth-child(2){position:absolute; top: 480px; left: 1350px;}
img:nth-child(3){position:absolute; top: 640px; left: 150px;}
img:nth-child(4){position:absolute; top: 80px; left: 150px;}
img:nth-child(5){position:absolute; top: 80px; left: 1200px;}

img:nth-child(6){position:absolute; top: 320px; left: 1050px;}
img:nth-child(7){position:absolute; top: 480px; left: 1200px;}
img:nth-child(8){position:absolute; top: 150px; left: 1400px;}
img:nth-child(9){position:absolute; top: 480px; left: 300px;}
img:nth-child(10){position:absolute; top: 280px; left: 1275px;}

img:nth-child(11){position:absolute; top: 320px; left: 120px;}
img:nth-child(12){position:absolute; top: 560px; left: 405px;}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .box{
    border: 0px;
  }
  img{
    display: none;
  }
}